[Unit]
Description=Set Wallpaper Periodically

[Service]
ExecStart=sh -c "echo Hi >> /tmp/Hi"

Restart=on-failure
RestartSec=30s

Type=oneshot

[Install]
WantedBy=graphical-session.target
