[Unit]
Description=Blue Light Filter Service
After=network.target

[Service]
Type=simple
ExecStart=sh -c "dash ${HOME}/.local/share/bin/hyprsunset.sh"
Restart=always
RestartSec=3s

ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=graphical-session.target
