@import url("../../.cache/wal/colors-waybar.css");

* {
    font-family: "FantasqueSansM Nerd Font Mono";
    font-size: 16px;
}

window.bar {
    background-color: alpha(@background, 0.8);
    color: @foreground;
}

button {
    min-width: 0;
    padding-top: 0;
    padding-bottom: 0;
    background-color: transparent;
}

button:active {
    background-color: @theme_selected_bg_color;
}

button:hover {
    color: @color12;
    background-color: alpha(@color8, 0.4);
}

label {
    font-weight: bold;
}

.left_bar {
    margin: 0px 15px 0px 8px;
    border-radius: 8px;
}

.centre_bar {
    color: @color8;
    margin: 0px 8px;
}

.battery {
    margin: 0px 5px;
}

.workspaces button.focused {
    color: @color14;
}

.client-title {
    color: @theme_fg_color;
    font-weight: 400;
}

.notification {
    color: yellow;
}

levelbar block,
highlight {
    min-height: 10px;
}

window.notification-popups box.notifications {
    padding: 0.5em;
}

.icon {
    min-width: 68px;
    min-height: 68px;
    margin-right: 1em;
}

.icon image {
    font-size: 58px;
    /* to center the icon */
    margin: 5px;
    color: @theme_fg_color;
}

.icon box {
    min-width: 48px;
    min-height: 48px;
    border-radius: 7px;
}

.notification {
    min-width: 350px;
    border-radius: 11px;
    padding: 1em;
    margin: 0.5em;
    border: 1px solid @color5;
    background-color: alpha(@color1, 0.7);
}

.notification.critical {
    border: 1px solid lightcoral;
}

.title {
    color: @theme_fg_color;
    font-size: 1.4em;
    font-weight: 700;
    font-family: "Cantarell";
}

.body {
    color: @theme_unfocused_fg_color;
    font-weight: 400;
    font-family: "Cantarell";
}

.actions .action-button {
    margin: 0 0.4em;
    margin-top: 0.8em;
}

.actions .action-button:first-child {
    margin-left: 0;
}

.actions .action-button:last-child {
    margin-right: 0;
}
